/* Timer Animation Code*/
@keyframes timer {
  0% {
    height: 500px;
    top: 0%;
  }
  100% {
    height: 20px;
    top: 97%;
  }
}

.Main {
  text-align: center;
  background: linear-gradient(179.79deg,
    #05386B 0%,
    rgba(92, 219, 149, 0) 20.49%, 
    rgba(92, 219, 149, 0.22619) 50.51%, 
    #5CDB95 100%);
  height: 100%;
}

.Main-Header {
  background-color: #05386B;
  color: #fffcfc;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.Main-Title {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  float: left;
  width: 100%;
  font-size: 70px;
  margin-bottom: 0px;
}

.Main-Subtitle {
  color: #05386B;
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
  font-size: 40px;
}

.Main-Page-Button {
  margin: 20px;
  padding: 0px;
  background-color: #EDF5E1;
  border-radius: 10px;
  border: 10px solid #379683;
  box-sizing: border-box;
  border-radius: 20px;
  width: 405px;
  height: 90px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.5);
  color: #379683;
  text-align: center;
  z-index: 1;

  font-family: var(--main-font-family);
  font-size: 20px;  
  font-family: Kranky, "open_sans_condensedbold";
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 75px;
  /* identical to box height */
}
.Main-Page-Button:hover {
  background-color: #379683;
  color: #EDF5E1;
  z-index: 100;
}

.Main-Page-Button img {
  width: 405px;
  margin-top: -10px;
  margin-left: -10px;
  display: none;
}
.Main-Page-Button:hover img {
  z-index: 100;  /* figure out z-indexing later */
  display: block;
}

.Main-Score {
  text-align: right;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  width: 43.5%;
  background-color: #f24832;
  color: #fffcfc;
  margin: 0%;
}

.Score-Box {
  position: absolute;
  top: 20%;
  right: 10%;

  width: 211px;
  height: 93px;
  border-radius: 40px;
  background-color: rgba(5, 56, 107, 0.15);
}

.Test-Tube {
  position: absolute;
  top: 10%;
  left: 10%;
}

.Helper-Text {
  color: #EDF5E1;
  text-decoration: underline;
}

.Score {
  position: absolute;
  top: 20%;
  right: 20%;
  color: #05386B;
  font-size: 45px;
}

.Timer {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 20px;
  height: 500px;
  background-color: #EDF5E1;
  border-radius: 10px;
}

.Timer-Fill {
  position: absolute;
  width: 20px;
  height: 500px;
  background: linear-gradient(to bottom, #165899, #379683);
  border-radius: 10px;

  animation-name: timer; 
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Timer-Time {
  color: #165899;
  position: absolute;
  bottom: 0%;
  padding-left: 40px;
  font-size: 35px;
  min-width: 110px;
}

.Periodic-Table-Display {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 780px;
  height: 500px;
  background-color: #EDF5E1;
  border-radius: 20px;
  display: none;
}

.Close-Button-Outer {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #05386B;
  border-width: 100px;
  border-color: #05386B;
}

.Close-Button-Inner {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #EDF5E1;
  border-width: 100px;
}

.Close-Button-X1 {
  position: absolute;
  background-color: #05386B;
  width: 5px;
  height: 60px;
  top: 5px;
  left: 35px;
  transform: rotate(45deg);
  border-radius: 20px;
}

.Close-Button-X2 {
  position: absolute;
  background-color: #05386B;
  width: 5px;
  height: 60px;
  top: 5px;
  left: 35px;
  transform: rotate(-45deg);
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

.column-container {
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  background-color: #5cdb95;
  height: 100%;
  text-align: center;
}

.column {
  width: 50%;
  padding: 10px;
  padding-top: 50px;
  float: left;
  background-color: #5cdb95;
  flex: 1;
  height: 100%;
}

.ElementOptions {
  margin: 0px;
  padding: 0px;
  margin-top: 100px;
  width: 100%;
}
