.Main {
  text-align: center;
  background-color: #efe4c8;
  height: 100%;
}


.Main-Header {

  background-color: #f24832;
  /*color: #fffcfc;*/
  width: 100%;
}

.Main-Title {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  float: left;
  background-color: #f24832;
  color: #fffcfc;
}

.Main-Score {
  text-align: right;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  width: 43.5%;
  background-color: #f24832;
  color: #fffcfc;
}

.App-link {
  color: #61dafb;
}

.column-container {

  min-height: 300px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.column {
  width: 50%;
  padding: 10px;
  padding-top: 50px;
  float: left;
  background-color: #efe4c8;
  flex: 1;
}

#ElementOptions {

  text-align: left;
  padding-left: 45%

}

#submitButton {

  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
